<po-page-dynamic-search
    [p-title]="title"
    [p-breadcrumb]="breadcrumb"
    [p-filters]="filters"
    (p-quick-search)="onQuickSearch($event)"
    (p-change-disclaimers)="onChangeDisclaimers($event)"
    (p-advanced-search)="onAdvancedSearch($event)"    
>
    <po-table
        p-container
        p-sort="true"
        p-striped="true"
        p-container="shadow"
        p-hide-text-overflow="true"
        [p-columns]="columns"
        [p-items]="items"
        [p-height]="400"
        [p-loading]="isLoading"
        [p-show-more-disabled]="!hasNext"
        (p-show-more)="onShowMore()"
    >
    </po-table>
    
</po-page-dynamic-search>  
